<!DOCTYPE html>
<html lang="en-GB">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>training with vue</title>

	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

	<div id='app'>		
		<game-room ref="room" 
			v-bind:room="rooms[roomNumber]" 
			v-bind:measure="roomMeasure">
				<character-c ref="characters"
					v-for="char in characters":key="rooms[roomNumber].id + '-' + char.id"
					v-bind:measure="roomMeasure"
					v-bind:char='char'>
				</character-c>
				<world-item ref="items"
					v-for="item in worldItems":key="item.id"
					v-bind:measure="roomMeasure"
					v-bind:item='item'>
				</world-item>
		</game-room>

		<command-line v-bind:command='command' v-bind:disabled='gameStatus === "LIVE" ? false:true'></command-line>
		<verb-menu v-bind:verb-list='verbList' v-bind:picked='verb.id' v-bind:disabled='gameStatus === "LIVE" ? false:true'></verb-menu>
		<inventory-menu v-bind:items="inventory" v-bind:disabled='gameStatus === "LIVE" ? false:true'></inventory-menu>

		<p>{{message}}</p>
		<br/><p ref="coordinateDisplay"></p>

	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue"></script>

	
	<script src="zone.js"></script>
	<script src="astar.js"></script>
	
	
	<script src="components/room-comp.js"></script>
	<script src="components/sprite-comp.js"></script>
	<script src="components/speech-line-comp.js"></script>
	<script src="components/character-comp.js"></script>
	<script src="components/world-item-comp.js"></script>
	<script src="components/verb-menu.js"></script>
	<script src="components/command-line.js"></script>
	<script src="components/inventory-menu.js"></script>
	
	<script src="game-data.js"></script>
	<script src="app-go.js"></script>
	
	
</body>
</html>

