<!DOCTYPE html>
<html lang="en-GB">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>training with vue</title>

	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

	<div id='app'>		
		<game-room v-bind:room="rooms[roomNumber]">
			<character-c 
				v-for="char in characters":key="rooms[roomNumber].id + '-' + char.id" 
				v-bind:char='char'>
			</character-c>
			<world-item
				v-for="item in worldItems":key="item.id" 
				v-bind:item='item'>
			</world-item>
		</game-room>
		<command-line v-bind:command='command'></command-line>
		<verb-menu v-bind:verb-list='verbList' v-bind:picked='verb.id'></verb-menu>
		<inventory-menu v-bind:items="inventory"></inventory-menu>
		<p>{{message}}</p>

	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue"></script>

	
	<script src="zone.js"></script>
	
	<script src="components/room-comp.js"></script>
	<script src="components/sprite-comp.js"></script>
	<script src="components/speech-line-comp.js"></script>
	<script src="components/character-comp.js"></script>
	<script src="components/world-item-comp.js"></script>
	<script src="components/verb-menu.js"></script>
	<script src="components/command-line.js"></script>
	<script src="components/inventory-menu.js"></script>
	
	<script src="game-data.js"></script>
	<script src="app-go.js"></script>
	
	
</body>
</html>

