@mixin font {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

$colour-red: #f44336;
$colour-blue: #2196F3;
$colour-green: #4CAF50;


@mixin btn {
    position: relative;
    cursor: pointer;
    @include font;

    padding: 3px 10px;
    vertical-align: middle;
    text-align: center;
    box-sizing: border-box;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    transition: background-color .3s, border .3s;
}

@mixin btn-outline($colour) {
  @include btn;
  border: 1px solid $colour;
  color: $colour;
  
  &:hover, &:focus {
    background-color: rgba(0, 0, 0, .03);
  }

}

@mixin btn-toggle($colour) {
  @include btn;
  border: 1px solid $colour;
  color: $colour;
  background-color: white;
  color: $colour;
  
  &:hover, &:focus {
    background-color: lighten($colour, 50%);
  }

}

@mixin btn-solid($colour) {
    @include btn;
    border: 1px solid lighten($colour, 15%);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    color: #ecf0f1;
    background-color: lighten($colour, 15%);
    
    &:hover, &:focus {
      background-color: $colour;
      border: 1px solid $colour;
    }
}


.btn-outline-green {
  @include btn-outline ($colour-green);
}
.btn-outline-red {
  @include btn-outline (#f44336);
}
.btn-outline-black {
  @include btn-outline (black);
}
.btn-outline-blue {
  @include btn-outline ($colour-blue);
}

.btn-solid-green {
  @include btn-solid ($colour-green);
}
.btn-solid-red {
  @include btn-solid (#f44336);
}
.btn-solid-black {
  @include btn-solid (black);
}
.btn-solid-blue {
  @include btn-solid ($colour-blue);
}


.btn-inline {
  margin: 0 4px;
  display: inline-block;
  min-width: 64px;
}

.btn-round {
  border-radius: 50%;
}