
@import '../../modules/material';
@import '../../modules/layout';

.game {

    @include fullscreen;

    display: flex;
    flex-direction: column;
    
    padding-bottom: .25rem;
    box-sizing: border-box;

    z-index: -10;
    background-image: radial-gradient( black, transparent);

    &__room-wrapper {
        display: flex;
        flex-direction: column;	
        justify-content:center;
        align-items: center;
        flex-basis: 100%;
        overflow: hidden;
    }

    &__controls {
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-shrink: 0;
        margin-top: .25rem;
    }

    &__menu-wrapper {
        display: flex;	
        justify-content:center;
        flex-wrap: nowrap;
        align-items: flex-start;

        @media (orientation: portrait) {
            flex-wrap: wrap;
        }

    }

    &__paused-message {
        @include placeAbsolute(50%,50%,false,true);
        @include centerPoint();

        z-index: 200;
        background-color: $colour-white-shade;
        padding: .5rem 1rem;
        border-radius: .5rem;
        font-weight: 700;
        min-width: 50%;
        line-height: 1rem;
        text-align: center;
        cursor: pointer;
    }

    &__settings {
        margin: 0;
    }

}


.file-button {
    @include btn-toggle ($colour-blue);
    @include navButton(true);

    &--active {
        @include btn-solid ($colour-blue);
        @include navButton(true);
    }

    right: .2rem;
    z-index: 500;
}

.options-button {
    @include btn-toggle ($colour-blue);
    @include navButton(true);

    &--active {
        @include btn-solid ($colour-blue);
        @include navButton(true);
    }


    right: 3.2rem;
    z-index: 500;
}


.skip-button {
    @include btn-solid ($colour-blue);
    @include navButton(true);

    &--disabled {
        display: none;
    }


    left: .2rem;
    z-index: 300;
}


.highlight-button {
    @include btn-toggle ($colour-blue);
    @include navButton(true);

    right: 6.2rem;
    z-index: 300;
}


.highlight-control {
    display: none;
    &:checked~.highlight-button {
        @include btn-solid ($colour-blue);
        @include navButton(true);
    }
}


.pause-button {
    @include btn-toggle ($colour-blue);
    @include navButton(true);

    &--active {
        @include btn-solid ($colour-blue);
        @include navButton(true);
    }


    right: 9.2rem;
    z-index: 500;
}


.hidden {
	display: none;
}

.disabled {
    opacity: 0;
    pointer-events: none;
    cursor: not-allowed;
}
