
@import '../../modules/material';
@import '../../modules/layout';

.game {

    @include fullscreen;

    display: flex;
    flex-direction: column;
    
    padding-bottom: .25rem;
    box-sizing: border-box;

    z-index: -10;
    background-image: radial-gradient( black, transparent);

    &__room-wrapper {
        display: flex;
        flex-direction: column;	
        justify-content:center;
        align-items: center;
        flex-basis: 100%;
        overflow: hidden;
    }

    &__controls {
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-shrink: 0;
        margin-top: .25rem;
    }

    &__menu-wrapper {
        display: flex;	
        justify-content:center;
        flex-wrap: nowrap;
        align-items: flex-start;

        @media (orientation: portrait) {
            flex-wrap: wrap;
        }

    }

    &__settings {
        margin: 0;
    }

}


@mixin navButton {
    z-index: 300;
    position: fixed;
    top: .2rem;
    height: 2rem;
    width: 2rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

    img {
        width: 1rem;
        vertical-align: middle;
    }

}

.file-button {
    @include btn-toggle ($colour-blue);
    @include navButton();
    right: .2rem;
    z-index: 500;
    
    &--active {
        @include btn-solid ($colour-blue);
        @include navButton();
    }
}


.skip-button {
    @include btn-solid ($colour-blue);
    @include navButton();

    left: .2rem;
    margin-left: .5rem;
    margin-right: auto;

    &--disabled {
        display: none;
    }
}


.highlight-button {
    @include btn-toggle ($colour-blue);
    @include navButton();
    right: 3.2rem;
}



.highlight-control {
    display: none;
    
    &:checked~.highlight-button {
        @include btn-solid ($colour-blue);
        @include navButton();
        position: fixed;
    }
}


.hidden {
	display: none;
}

.disabled {
	opacity: 0;
}
