.game {
    background-color: darkgoldenrod;
    background-image: repeating-radial-gradient(transparent, black);
    font-family: fantasy;
}

.file-menu {
    font-family: fantasy;
}

.command-line {
    background-color: blue;
    font-family: monospace;
}

.verb-menu__box {
    border-radius: .25rem;
    border-color: white;
    color: white;

    &:hover, &:focus {
        background-color: blue;
        border: 1px solid blue;
    }

    &--on {
        background-color: blue;
        &:hover, &:focus {
            background-color: blue;
            border: 1px solid blue;
        }
    }

    &--recommended {
        background-color: lightblue;
    }
}

.inventory-menu__holder {
    border-color: white
}

.speech-line {
    background-color: rgba($color: red, $alpha: 0.25);
    filter: drop-shadow(4px 2px 2px black);

    &__tail {
        border-bottom-color: rgba($color: red, $alpha: 0.25);
    }
}

